<div class="card h-100 shadow-sm p-3">


   
    <a routerLink="/product/{{product.id}}">
      <img [src]="product.imageLink" class="card-img-top" alt="product.title">
    </a>

    <div class="label-top shadow-sm">
      <a class="text-white" href="#">asus</a>
    </div>
    <div class="card-body">
      <div class="clearfix mb-3">
        <span class="float-start badge rounded-pill bg-success">{{product.price}}$</span>
        
        <span class="float-end"><a routerLink="/product/{{product.id}}" class="small text-muted text-uppercase aff-link">reviews</a></span>
      </div>
      <h5 class="card-title">
        {{product.name}}
      </h5>

      <h5 class="card-title">
        <p class="description">{{product.content}}</p>
      </h5>

      <!-- <div class="d-grid gap-2 my-4">

        <a href="#" class="btn btn-warning bold-btn">Update</a>

      </div> -->
      <div class="clearfix mb-1">

        <span class="float-start"><a href="#"><i class="fas fa-question-circle"></i></a></span>

        <span class="float-end">
          <i class="far fa-heart" style="cursor: pointer"></i>

        </span>
      </div>
    </div>
  </div>