<!-- <div class="row justify-content-center">
   <div class="col-1 text-center">
    <h5>
        18+
    </h5>
   </div>
</div> -->

<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="row  mb-3">
    <button type="button" class="btn btn-primary" (click)="navigate()" >+Add product</button>
</div>
<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4 mb-5" *ngFor="let item of products">
        <app-card [product]="item" ></app-card>
    </div>
</div>